@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome to ME!";
    ViewData["Header"] = "Jeremy Fairbanks";
}



<div class="text-center">
    
    <img src="~/img/LakeTrout.jpg" />
    <p>
        I am getting more and more excited to learn C# as I write these programs and see how much
        easier it is than other languages.
    </p>
    <p>
        Hopefully by the end of the class I will be able to say that I
        can program in C# and impress future employers.
    </p>
    <br />
    <p>
        Careers I am interested in:
    </p>
</div>
<div class="mydiv">
    <ol class="myOl">
        <li>
            Software Developer
        </li>
        <li>
            Data Analyst
        </li>
        <li>
            Cyber-Security Consultant
        </li>
    </ol>
</div>
<br />

