<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/img/fishy.png" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>

</head>

<body>
    <nav>
        <a asp-controller="Folder" asp-action="Index">Home</a>
        <a asp-controller="Folder" asp-action="Calculator">Calculate Grade</a>
    </nav>
    <div class="text-center">
        <h1>@ViewData["Header"]</h1>
    </div>
    <div>
        @RenderBody()
    </div>

    <div class="myFooter">
        <footer class="text-center">jf672 Section 3</footer>
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jQuery/jquery-3.6.3.min.js"></script>

</body>
    
</html>
